<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="KursovayaRabota.Properties.Settings.DataBaseScladConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\DataBaseSclad.mdb"
            providerName="System.Data.OleDb" />
        <add name="KursovayaRabota.Properties.Settings.DataBaseScladConnectionString1"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;E:\Алексей\учеба\Курсовая работа надеюсь правильно\KursovayaRabota\DataBaseSclad.mdb&quot;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>